---
layout: base
---

{% if page.title %}
<h1>{{ page.title }}</h1>
{% endif %}

{% assign toc_content = content | toc_only | strip %}
{% assign toc_size = toc_content | size %}
{% comment %}
HACK: check if toc has any contents; when there are no sections the TOC is equal to:
<ul id="toc" class="section-nav">
</ul>
{% endcomment %}
{% if toc_size > 40 %}
<nav class="toc">
<strong>Table of Contents</strong>
{{ toc_content }}
</nav>
{% endif %}

<article>
{{ content | inject_anchors }}
</article>

<script type="module">
window.addEventListener("load", () => {
  const headings = Array.from(document.querySelectorAll("h2[id], h3[id], h4[id], h5[id], h6[id]"));

  const scrollHandler = (entries) => {
    let height = window.innerHeight;
    console.log(height)

    // FIXME: logic here not quite right yet

    for (let i = headings.length - 1; i >= 0; i--) {
      let heading = headings[i];
      let rect = heading.getBoundingClientRect();
      
      if (rect.top < height / 2) {
        for (let a of document.querySelectorAll("#toc a")) {
          a.classList.remove("visible");
        }
        document.querySelector(`#toc a[href="#${heading.id}"]`)
          .classList.add("visible");
        break;
      }
    }
  }

  const observer = new IntersectionObserver(scrollHandler);

  for (let heading of headings) {
    observer.observe(heading);
  }
});
</script>
